<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      {{each students}}
      <li>
        {{$value.name}}
        <image src="{{$value.img}}"> </image>
      </li>

      {{/each}}
    </ul>

    <form action="/add" method="post" enctype="multipart/form-data">
      用户名： <input type="text" name="name" /> 头像：
      <input type="file" name="avater" />
      <button>添加</button>
    </form>
  </body>
</html>
