{{extend './layout/layout.html'}} {{block 'content'}}
<link href="/public/css/register.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"></script>
<style type="text/css">
  #pwd-level div {
    height: 30px;
    width: 30px;
    display: inline-block;
    float: left;
  }

  #pwd-level span {
    display: inline-block;
    float: left;
  }
</style>
<div class="aw-register-box">
  <div class="mod-head">
    <a href="/"></a>
    <h1>注册新用户</h1>
  </div>
  <div class="mod-body">
    <form action="" class="aw-register-form" method="post" id="register_form">
      <ul>
        <li class="alert alert-danger hide error_message text-left">
          <i class="icon icon-delete"></i> <em></em>
        </li>
        <li>
          <input
            class="aw-register-name form-control"
            type="text"
            name="username"
            placeholder="用户名"
            value=""
            id="username"
          />
        </li>
        <li>
          <input
            class="aw-register-email form-control"
            type="text"
            placeholder="邮箱"
            name="email"
            value=""
          />
        </li>
        <li>
          <input
            class="aw-register-pwd form-control"
            type="password"
            name="password"
            id="password"
            placeholder="密码"
          />
        </li>
        <div id="pwd-level">
          <span>密码强度:</span>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <hr />
        <li class="aw-register-verify">
          <img class="pull-right" width="120" src="" />
          <input
            type="text"
            class="form-control"
            name="v_code"
            placeholder="验证码"
          />
        </li>
        <li class="last">
          <label>
            <input type="checkbox" checked="checked" value="agree" />
            我同意</label
          >
          <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
          <a href="/login" class="pull-right">已有账号?</a>
          <div class="aw-regiter-agreement hide">
            <div
              class="aw-register-agreement-txt"
              id="register_agreement"
            ></div>
          </div>
        </li>
        <li class="clearfix">
          <button type="submit" class="btn btn-large btn-blue btn-block">
            注册
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>

<script>
  // 验证用户名是否存在
  let doRegister = (function () {
    // 声明一个全局函数 保存定时器 以便于清除 ->声明全局函数造成了变量污染 -> 使用闭包
    let timer; //内层函数访问外变量
    let preName;
    return function (e) {
      let val = e.target.value.trim();
      clearTimeout(timer);
      if (preName === val || !val) return;
      timer = setTimeout(() => {
        $.ajax({
          url: "/user/do-register",
          type: "post",
          data: { username: val },
          success: function (data) {
            preName = val;
            if (data.code === 2) {
              alert(data.msg);
            }
          },
        });
      }, 500);
    };
  })();
  // 用户名的键盘事件
  $("#username").on("keyup", doRegister);

  let pwd = (function () {
    return function (e) {
      // 验证密码强度
      console.log(e.target.value);
      let val = e.target.value;
      let [test1, test2, test3, num, collorArr, ele] = [
        /\d/,
        /[a-zA-Z]/,
        /\W/,
        0,
        ["yellowGreen", "skyblue", "red"],
        $("#pwd-level").find("div"),
      ];
      for (let i = 0; i < ele.length; i++) {
        ele[i].style.backgroundColor = "";
      }
      if (test1.test(val)) num++;
      if (test2.test(val)) num++;
      if (test3.test(val)) num++;
      for (let i = 0; i < num; i++) {
        ele[i].style.backgroundColor = collorArr[i];
      }
      console.log(num);
    };
  })();
  // 密码的键盘事件
  $("#password").on("keyup", pwd);

  // 提交表单
  $("#register_form").on("submit", function (e) {
    // 阻止默认事件
    e.preventDefault();
    // 获取到所有表单数据

    let formdata = $(this).serialize();
    $.ajax({
      url: "/user/do-register",
      type: "post",
      data: formdata,
      dataType: JSON,
      success: function (back) {
        console.log("tijiao");
        console.log(back, "dss");

        if (back.code === 1) {
          if (confirm("是否去登录")) {
            window.Location.href = "/user/login";
          }
        } else {
          alert(back.msg);
        }
      },
    });
  });
</script>
{{/block}}
